<h1> Bulk Discounts Index Page for <%= @merchant.name %></h1>
<%= link_to "Create a new discount",  new_merchant_bulk_discount_path(@merchant) %>

<div id= "upcoming_holidays">
<h2> Upcoming Holidays </h2>
<ul>
<% @first_three_holiday_names.each do |holiday_name| %>
  <li><%= holiday_name %></li>
  <% end %>
</div>

<ul>
<% @merchant.bulk_discounts.each do |discount| %>
  <div id= "discount-<%= discount.id %>">
    <li> Discount: <%= discount.percentage_discount %>% off if customer buys <%= discount.quantity_threshold %> or more items</li>
    <%= link_to "Discount's Show Page", merchant_bulk_discount_path(@merchant, discount.id), method: :get, local: true %>
    <%= link_to "Delete", merchant_bulk_discount_path(@merchant, discount.id), method: :delete, local: true %>
  </div>
 <% end %>
 </ul>